{
  "swagger": "2.0",
  "info": {
    "description": "This is the api documentation for the address manager.",
    "version": "1.0.0",
    "title": "Address Manager"
  },
  "host": "hnswave.co",
  "basePath": "/dev",
  "tags": [
    {
      "name": "addresses",
      "description": "endpoints for addresses"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/addresses": {
      "get": {
        "tags": [
          "addresses"
        ],
        "summary": "gets an array of addresses",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "description": "query with a partial address string and receive all matching addresses in the data-set",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "array of addresses",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Address"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Address": {
      "type": "object",
      "required": [
        "id",
        "line1",
        "city",
        "state",
        "zip"
      ],
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "line1": {
          "type": "string"
        },
        "line2": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "state": {
          "type": "string"
        },
        "zip": {
          "type": "string"
        }
      }
    }
  }
}
